[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-jose = "*"
passlib = "*"
pymysql = "*"
python-multipart = "*"
bcrypt = "*"
langchain = "*"
langchain-community = "*"
langchain-groq = "*"
dotenv = "*"
openai = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.12"
