aiohappyeyeballs         
aiohttp                 
aiosignal                
annotated-types          
anyio                    
attrs                    
bcrypt                   
certifi                 
charset-normalizer       
click                    
colorama                 
dataclasses-json         
distro                   
dotenv                   
ecdsa                    
fastapi                  
frozenlist               
greenlet                
groq                     
h11                      
httpcore                 
httpx                    
httpx-sse                
idna                     
jose                     
jsonpatch                              
langchain                
langchain-community      
langchain-core           
langchain-groq           
langchain-text-splitters 
langsmith                
marshmallow              
multidict                
mypy_extensions          
numpy                    
openai                   
orjson                  
packaging                                 
pip                                    
pyasn1                   
pydantic                 
pydantic_core            
pydantic-settings        
PyMySQL                  
python-dotenv            
python-jose              
python-multipart         
PyYAML                   
requests                 
requests-toolbelt        
rsa                      
six                      
sniffio                  
SQLAlchemy               
starlette                
tenacity                 
tqdm                     
typing_extensions        
typing-inspect           
typing-inspection        
urllib3                  
uvicorn                 
yarl  
joblib
scikit-learn==1.6.1
pandas            
